.List {
    background: rgba(255, 255, 255, 0.253);
    margin: 20px auto;
    padding: 20px;
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    transition: transform 0.2s, box-shadow 0.2s;
}

.List img {
 width: 50%;
}

.list-name, .list-quantity, .list-price {
    font-weight: 500;
    margin: 5px 0;
}

.edit-button, .remove-button {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 50%;
    font-size: 14px;
}

.edit-button {
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
}

.edit-button:hover {
    background-color: green;
    cursor: pointer;
}

.remove-button {
    background-color: rgba(255, 0, 0, 0.738);
    color: white;
}

.remove-button:hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
